<ion-view view-title="Profile">
  <ion-content >

      <div class="content" style="padding-left: 25%">
        <img class="avatar" style="border-radius: 50%;" src="img/bu70htgSciVJghrAhJZU_96[1].png" >
      </div>
    <h2 style="text-align: center">John Doe</h2>
    <h3 style="text-align: center">Male,26  HighGarden</h3>
    <h3 style="text-align: center">Currently Looking- San Jose</h3>

    <p> I am looking for hot cheeks  am looking for hot cheeks</p>
    <button style="margin-left: auto ;margin-right: auto;display: block" class="button button-outline button-positive">
           Room Score
    </button> <br/>


    <a style="display: inline-block;width: 47%;text-align: center;" class="button button-clear button-positive" href="#">
      <i class="icon ion-email"></i>
      Check mail </a>
      <a style="display: inline-block;width: 47%;" class="button button-clear button-positive" href="#">
       <i class="icon ion-ios-telephone"></i>
      Check mail
    </a>
    <button class="button button-block button-positive">
      Back
    </button>

  </ion-content>
</ion-view>
