<ion-view title="Add List" id="page7">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Location</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 283px; height: 1px;"></div>
        <ion-list>
            <ion-item class="item-divider">Roommates Contributing</ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 117px;"></div>
        <button id="addList-button14" class="button button-positive  button-block">Add</button>
        <button id="addList-button15" class="button button-positive  button-block">Cancel</button>
    </ion-content>
</ion-view>