<ion-view title="Chores" id="page8">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-divider">Your Chores</ion-item>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
        <div class="button-bar">
            <a ui-sref="menu.review" id="chores-button16" class="button button-positive  button-block">Review</a>
        </div>
    </ion-content>
</ion-view>