<ion-view title="Review" id="page9">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="spacer" style="width: 283px; height: 50px;"></div>
        <div class="button-bar">
            <button id="review-button22" class="button button-positive  button-block">Not Ok</button>
            <button id="review-button24" class="button button-positive  button-block">Ok</button>
        </div>
    </ion-content>
</ion-view>