<ion-view title="Settings" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list>
      <ion-item class="item-divider">Your Share</ion-item>
      <ion-checkbox>Checkbox</ion-checkbox>
      <ion-checkbox>Checkbox</ion-checkbox>
    </ion-list>
    <div class="spacer" style="width: 283px; height: 11px;"></div>
    <ion-list>
      <ion-item class="item-divider">Things to Buy</ion-item>
      <ion-list>
        <ion-item>Item 1</ion-item>
        <ion-item>Item 2</ion-item>
        <ion-item>Item 3</ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="width: 283px; height: 11px;"></div>
    <a ui-sref="menu.addList" id="shoppingList-button13" style="border-radius:40px 40px 40px 40px;" class="button button-positive  icon ion-android-add"></a>
  </ion-content>
</ion-view>
