<ion-view title="Shopping List" id="page6">


  <ion-content padding="true" class="has-header">

      <ion-list>
            <ion-item class="item-divider">Your Share</ion-item>
            <ion-checkbox>Checkbox</ion-checkbox>
            <ion-checkbox>Checkbox</ion-checkbox>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 11px;"></div>
        <ion-list>
            <ion-item class="item-divider">Things to Buy</ion-item>
            <ion-list>
                <ion-item>Item 1</ion-item>
                <ion-item>Item 2</ion-item>
                <ion-item>Item 3</ion-item>
            </ion-list>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 11px;"></div>
        <a ui-sref="menu.addList" id="shoppingList-button13" style="border-radius:55%;" class="button button-positive  icon ion-android-add"></a>

      <div class="bar bar-footer bar-positive">
        <div class="title">Footer</div>
      </div>

    </ion-content>
</ion-view>
